<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SecsDevice.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="SecsDevice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <SecsDevice.Settings1>
          <setting name="Response" serializeAs="String">
            <value />
          </setting>
          <setting name="Message" serializeAs="String">
            <value />
          </setting>
          <setting name="IPAdress" serializeAs="String">
            <value>127.0.0.1</value>
          </setting>
          <setting name="Port" serializeAs="String">
            <value>5000</value>
          </setting>
          <setting name="ActiveMode" serializeAs="String">
            <value>True</value>
          </setting>
        </SecsDevice.Settings1>
        <SecsDevice.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>test</value>
            </setting>
        </SecsDevice.Properties.Settings>
    </userSettings>
</configuration>
